{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="hero">
    <p>Institut de soin • Villeurbanne</p>

    <h1>Head Spa Lyon<br>By F.</h1>

    <p>Un art du soin inspiré de l'Asie</p>

    <a href="#">Réserver un soin</a>
</section>

<section class="bienvenue">
    <span>Notre philosophie</span>
    <h2>Bienvenue chez<br><em>Head Spa Lyon By F.</em></h2>
    <p>Au croisement des traditions asiatiques et d'une approche profondément intuitive du bien-être, je vous propose des soins uniques, pensés comme de véritables voyages sensoriels.</p>
    <p>Chaque rituel est une invitation à ralentir, à relâcher les tensions et à se reconnecter à soi, dans un cadre apaisant et enveloppant.</p>
    <p>Mes soins s'inspirent de techniques ancestrales venues du Japon et d'Asie, enrichies par une écoute attentive du corps et de l'énergie de chaque personne.</p>
</section>
{% endblock %}
