<nav>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('prestations') }}">Prestations</a></li>
        <li><a href="{{ path('qui') }}">Contact</a></li>
        <li><a href="{{ path('tarifs') }}">Tarifs</a></li>
    </ul>
</nav>